@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--palette-yellow);
  font-family: var(--fonts-body);
}
a,
a:hover,
a:visited {
  color: var(--palette-brown);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonts-heading);
  padding: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
